h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:42px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:44px;
    margin: 55px 364px 10px 360px;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size:21px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:33px;
    margin: 0 360px 55px 360px;
    width: 700px;
}

img {
    margin: 43px 362px 37px 361px;
}

.nexttophoto p{
    margin: 0 360px 0 360px;
}

.code {
    font-family: "Courier New", monospace;
    background-color: #eceef3;
}

body {
    margin-bottom: 94px;
}
@media (max-width: 800px) {
    .mobileh1 h1 {
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size:26px;
        color:rgba(0,0,0,0.84);
        text-align:left;
        line-height:28px;
        margin: 20px 20px 20px 20px;
    }

    h1 {
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size:22px;
        color:rgba(0,0,0,0.84);
        text-align:left;
        line-height:39px;
        margin: 0 20px 6px 20px;
    }

    p {
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        font-size:18px;
        color:rgba(0,0,0,0.84);
        text-align:left;
        line-height:22px;
        margin: 0 20px 25px 20px;
        width: 520px;
    }

    img {
        margin: 43px 362px 37px 361px;
        max-height: 540px;
        max-width: 520px;
    }

    .nexttophoto p{
        margin: 0 0 0 0;
    }

    .code {
        font-family: "Courier New", monospace;
        background-color: #eceef3;
    }

    body {
        width: 560px;
        margin-bottom: 0;
    }
}